
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: row;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
.sediv{
float: right;
width: 800px;
display: flex;
flex-direction: row-reverse;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.hdis{
  animation-name: examples;
    animation-duration: 10s;
    font-weight: 100;
    color: white;
    text-align: center;
    text-transform: inherit;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@keyframes examples {
    10% {background-color: cornflowerblue;}
    20%{background-color: rgb(0, 174, 255);}
    50% {background-color:rgb(196, 217, 255);}
    100%{background-color:rgb(245, 220, 237);}
  }
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.btnsch{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: initial;
  font: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 70%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.grid-container {
  background-color:  #f1f1f1;;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.grid-item {
    background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  width: 40%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: rgb(128, 128, 128);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
h2{
  background: blue;
  font-size: 30px;
  color:white;


}