

*{
    box-sizing: border-box;
   
}
body{

    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    border-radius: 0;
    border: 0;
    background-color: #f6b319;
}
#logo-image{
    background-image: url("../after/images/elzizzah.png");
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    
}

.navbar-header{
 
    
}
.navbar-brand{
    padding-top: 25px;
}
.ks{
    height: 50px;
}
.navbar-brand{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 3px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{
    vertical-align: middle;
}
h1{
    color: #557c55;
}