

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{

    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
.navbar-inverse{
    border-radius: 0;
    border: 0;
    height: 150px;
    background-color: #f6b319;
}
#logo-image{
    background-image: url("../after/images/elzizzah.png");
    width: 150px;
    height: 150px;
    margin: 0px 15px 10px 0;
    
}

#bb{
 display: flex;
    
}
.navbar-brand{
    padding-top: 25px;
}
.ks{
    height: 50px;
}
.navbar-nav{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 3px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{
    vertical-align: middle;
}
h1{
    color: #557c55;
    text-align: center;
}
.dropdown-toggle{
    color: #557c3e;
}
a{
    color: rgba(0, 0, 255, 0.582);
}
.row{
    margin-top: 100px;
}
.float-left{
    margin-top: 0PX;
}
.spantel{
    margin-left: 20px;
    background-color: white;
    color: #000;
    padding: 10px;
}
   
  
    @media only screen and (min-width: 500px) {
        .container { 
        background-image: url("../after/images/kosher.jpg");
        }
      }

      .container { 
        background-image: url('../after/images/jean.jpg'); 
        background-repeat: no-repeat;
 
     }

     #phone{
     margin-top: -5px;
     }
     #phone a{
         text-align: center;
         padding-bottom: 0;
         color: #557c3e;
     }
     #phone div{
         color: #557c3e;
         text-align: right;
         padding-right: 15px;
         margin-left: 5px;
     }
     .navbar-toggle{
         border: 1px solid #61122f;
     }
 @media (min-width :1200px){

}

@media (min-width:800px) and (max-width:1199px) {
    #logo-image{
        background-image: url("../after/images/mid-el.png");
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;}

     }
@media (min-width:765px) and (max-width:991px) {
         
    #logo-image{
        background-image: url("../after/images/mid-el.png");
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;

     }
    }
@media(max-width:375px){
    logo-image{
        background-image: url("../after/images/mid-el.png");
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;

     }
}
@media (min-width:833px) and (max-width:991px) {
         
    #logo-image{
        background-image: url("../after/images/mid-el.png");
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;

     }
    }

