
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}


.dive{

	
	padding: 2px;
	border: 1px solid #cabbea;
	background-color: gray;
	width: 420px;
	height: 100px;
	margin-right:5px;
	margin-left: 20px;
	position: relative;

   
}

.grid-container{
background-color:  #f1f1f1;;
  padding: 1px;
  display: flex;
  flex-flow: row wrap;


}
h1{
	text-align: center;
	margin-bottom: 15px;
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    padding: 3rem 4rem;
}
#p1{
	background-color:pink;
	position: relative;
	top: 0px;
	width: 70px;
	left: 345px;
	font-weight: 200;
	font-size: 20px;
	border: 2px solid black;
	margin-bottom: 5px;
}

#p2{
	background-color:#eeaa12;
	position: relative;
	top: 0px;
	width: 70px;
	left: 345px;
	font-weight: 200;
	font-size: 20px;
	text-align:center;
	border: 2px solid black;
	margin-bottom: 5px;
}

