
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	
}


#dive{

	
	
	border: 1px solid #cabbea;
	

	height: 100px;
	 margin: 0 auto;
	position: relative;
	margin-right: 15px;
	align-content: center;
	align-self: center;
}

header{
 overflow: hidden;
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: row;
justify-content: center;
position: relative;
top: 50px;

}
h1{
	text-align: center;

	margin-bottom: 15px;
}


#p1{
	background-color: #ae3412;
	position: relative;
	top: 0px;
	width: 55px;
	left: 385px;
	margin-bottom: 10px;
	border: 1px solid black
}


.container {
  display: flex;
  align-items: center;
  background-color: green;
}
body {
  background-repeat: no-repeat;
  background-image: url("../after/images/kosher.jpg");
}

/* For width 400px and larger: */
@media only screen and (min-width: 480px) {
  body { 
     background-image: url('../after/images/elzizzah.png'); 
  }
}